{% extends 'base.html' %}

{% block titulo %}
    Mecânicos | {{ block.super }}
{% endblock titulo %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% include 'utils/messages.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Código</th>
                    <th scope="col" colspan='2'>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for mecanico in mecanicos %}
                    <tr>
                        <th scope="row">{{ mecanico.id }}</th>
                        <td>{{ mecanico.nome }}</td>
                        <td>{{ mecanico.codigo }}</td>
                        <td>
                            <a href='' class='btn btn-outline-info btn-sm'>Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href='{% url "geral:novo_mecanico" %}' class='btn btn-primary'>Novo</a>
    </main>
{% endblock main %}
    
